{% extends "base.html" %}
{% block title %}
    Error 500
{% endblock title %}
{% block content %}
    <main class="container">
        <div class="container px-5 py-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="page-header-ui-title mb-3 display-6">Houston, we have a problem!</h1>
                </div>
            </div>
        </div>
        <div class="container px-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10">
                    <p class="justify-content-center">We couldn't find that page &#x1F61E;</p>
                    <p>Sorry for the inconvenience... However, don't leave, here is a list of useful links:</p>
                    <ul class="justify-content-center">
                        <li>
                            <a href="{% url 'home:home' %}" alt="Home">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'profiles:index' %}" alt="Profiles">Profiles</a>
                        </li>
                        <li>
                            <a href="{% url 'lettings:index' %}" alt="Lettings">Lettings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
